package board

import "github.com/encador/trady/internal/models"

templ BoardPage(listings []models.Item) {
	<div
		data-init="$selectedItem = ''; $previousItem = ''; $showControls = false;"
		data-on:item-selected__window="if (evt.detail.id !== $selectedItem) {$selectedItem = evt.detail.id; @post('/board/select')} else {$selectedItem = ''}; $showControls = false"
		data-indicator="selecting"
	></div>
	@Board(listings)
}
