package inventory

templ InventoryPage() {
	<h1 style={ "color: var(--white-2)" }>Inventory</h1>
	<form enctype="multipart/form-data">
		<input  data-bind:title type="text"/>
		<input required type="file" name="image" accept="image/png, image/jpeg" style={ "color: var(--white-2)" }/>
		<button data-on:click="@post('/inventory/new', {contentType: 'form'})">Upload</button>
	</form>
<style>
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
</style>
}
