package items

import "github.com/encador/trady/internal/models"

templ Picker(items []models.Item) {
	<div id="picker">
		<h1>WOW</h1>
	</div>
}

templ PickerCSS() {
	<style>
		#picker {
      width: 200px;
      height: 200px;
      position: fixed;
      color: red;
		}
	</style>
}
