package inventory

import "github.com/encador/trady/internal/models"

templ InventoryPage(items []models.Item) {
	<div
		data-init="$selectedItem = ''; $previousItem = ''; $showControls = false;"
		data-on:item-selected__window="if (evt.detail.id !== $selectedItem) {$selectedItem = evt.detail.id; @post('/inventory/select')} else {$selectedItem = ''}; $showControls = false"
		data-indicator="selecting"
	></div>
	@ItemList(items)
}
