package bids

import "github.com/encador/trady/internal/models"

templ Picker(bids models.Bids) {
	<div id="picker" data-ref:picker data-on:click="if (!$over-window) {$picker.style.display='none'}">
		<div
			id="picker-window"
			data-on:mouseenter="$over-window=true"
			data-on:mouseleave="$over-window=false"
		>
			<h1>WOW</h1>
		</div>
	</div>
}

templ PickerCSS() {
	<style>
		#picker {
			position: fixed;
			background-color: #00000050;
			display: flex;
			justify-content: center;
			align-items: center;
			inset: 0;
			cursor: pointer;
		}
		#picker-window {
			width: 900px;
			height: 500px;
			background-color: var(--dark-2);
			color: var(--white-3);
			cursor: default;
		}
	</style>
}
